.jumbotron {
  background-color: #359ca9;
  background-image: url("../img/pirate-ship.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 150px;
}

h1, .lead {
  font-family: "IM Fell DW Pica", serif; 
  font-style: normal;
  color: white;
  text-align: center;
}