.jumbotron {
  background-color: #359ca9;
  background-image: url("../img/pirate-ship.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 150px;
  font-family: fantasy;
  font-size: 3.4rem;
  color: white;
  text-align: center;
}

